/* Larger Views ******************************/
@media only screen and (min-width: 768px) {
    #menu {
        display: none;
    }
    
    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
  
    .attribute {
        font-size: 1.75em;
    }
    #hero-image {
        height: 100%;
        width: fit-content;
    }
    /* seccion de card */
    .card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-grid section:nth-child(1) {
        grid-column: span 2;
    }
/*google mapas*/

.google-map {
    padding-bottom: 50%;
    position: relative;
  }
  
  .google-map iframe {
    
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    background-color: var(--nav-link-color);
    border: black;
  }

  footer {
    align-items: center;
  }
    footer .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        align-items: center;
        text-align: center; /* Centra el texto dentro del contenedor */

    }

    
}